body {
  /* background-color: white; */
  color: white;
  margin: 0;
  padding: 0 20px;
  min-height: 200vh;
  /* background: linear-gradient(
    to right bottom,
    rgb(255, 228, 230),
    rgb(141, 255, 230)
  ); */
  background: linear-gradient(rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
}

.App {
  text-align: center;
}
.app-name {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
}
.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
input {
  padding: 10px;
  border: none;
  font-size: 1.2rem;
  outline: none;
  border-bottom: 2px solid grey;
  background-color: inherit;
}
input:focus {
  border-bottom: 2px solid #03c988;
}
/* .image-upload {
  width: 50%;
  height: 50%;
  border: 2px solid red;
} */
label {
  border: 2px dashed #03c988;
  padding: 40px;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-name {
  display: flex;
  align-items: center;
}
.addr {
  font-size: 1.8rem;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgb(251, 113, 133),
    rgb(217, 70, 239),
    rgb(99, 102, 241)
  );
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 2px;
}
.mintbtn {
  background: linear-gradient(to left, rgb(192, 38, 211), rgb(219, 39, 119));
  outline: none;
  border: none;
  font-size: 2rem;
  border-radius: 2px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
.mintbtn:hover {
  border: 2px solid rgb(219, 39, 119);
  color: rgb(219, 39, 119);
  background: transparent;
}
.pages {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: top;
  position: fixed;

  padding: 20px;
  top: 80px;
  left: 0;
  height: 100vh;
  /* padding-right: 80px; */
  gap: 40px;
  border-right: 2px solid #86efac;
}
.pages button {
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 20px 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
.pages button:hover {
  color: #86efac;
  background-color: #03162b;
  transition: all 0.3s ease-in-out;
}
.clicked {
  background-color: red;
}

.upload {
  width: 35%;
  text-align: center;
  margin: auto;
}
.input-box {
  border-radius: 5px;
  /* box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
  /* background-color: #112b3f; */
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  font-size: 2rem;
}

.previewImage {
  width: 40%;
}

.your-files {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
}
.nfts {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}
.nft {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  color: #071d34;
  display: flex;
  font-family: "Noto Sans", sans-serif;
  flex-direction: column;
  width: 30%;
  /* background-color: #1f8a70; */
  /* background-color: rgb(250, 250, 250); */
  border-radius: 8px;
  background: linear-gradient(to top, rgb(153, 246, 228), rgb(217, 249, 157));
}
.image-div {
  margin: 10px;
}
.nft-image {
  border-radius: 4px;
  object-fit: cover;
  /* box-sizing: border-box; */
  width: 100%;
  background-color: white;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.nft-title {
  margin: 0;
}
.nft-addr {
  margin: 0;
}
.nft-info {
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
}
.nft-link {
  /* background-color: red; */
  margin: 20px;
}
.nft-btn {
  text-decoration: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-family: "Noto sans";
  font-weight: 600;
  background: linear-gradient(to right, rgb(251, 146, 60), rgb(251, 113, 133));
}
.notifi-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* justify-content: center; */
  gap: 20px;
}
.noti-card {
  border-right: 8px solid #03c988;
  border-left: 8px solid #03c988;
  border-radius: 5px;
  background-color: #86a3b8;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.noti-card p {
  margin: 0;
  color: white;
  font-family: "Poppins";
  font-size: 1.8rem;
}
.noti-text {
  display: flex;

  justify-content: space-around;
  width: 100%;
}
.opIn-btn {
  background: linear-gradient(to left, rgb(202, 138, 4), rgb(220, 38, 38));
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s;
}
.opIn-btn:hover {
  transition: all 0.2s;
  /* box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px; */
  box-shadow: 3px 3px 3px black, 0 0 4px rgba(0, 0, 0, 0);
}
.subs-div {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  gap: 12px;
}
.sub-div {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 12px 18px;
  border-left: 8px solid #03c988;
  border-right: 8px solid #03c988;
  border-radius: 5px;
  background-color: #86a3b8;
}
.sub-div button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}
.sub-div button:hover {
  color: #03fca9;
}
.sub-div p {
  font-size: 1.5rem;
}
